<div class="header">
  <div class="navbar navbar-custom" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" ng-click='actionBar.openNav()'>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref='home.board'>Planning Poker</a>
      </div>
    </div>
  </div>
</div>

<pk-side-menu>
