.btn {
  border-radius: 2px;
  height: 51px;
  width: 100%;
  font-size: 1.4em;
  padding: 10px 0px 10px 0px;
  margin-top: 11px;
}

.option-buttons {
  margin-top: 10%;
}

.btn-danger {
  background: $main-background-color;
  border-color: $danger-color;
  color:$danger-color;
}
.btn-success {
  background: $main-background-color;
  border-color: $success-color;
  color:$success-color;
}

.btn-primary {
  background: $main-background-color;
  border-color: $primary-color;
  color:$primary-color;
}

.form-control {
  color:#000000;
  border:1px solid $main-border-color;
  background: $main-background-color;
  border-radius: 2px;
  height: 51px;
  @include input-placeholder {
    color: #7f7f7f;
}
}
