$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/css3";

@import "variable.scss";
@import "navbar.scss";
@import "side_menu.scss";
@import "button.scss";
@import "input.scss";
@import "statistics.scss";
@import "card.scss";
@import "carousel.scss";

body {
  background: $main-background-color;
  font-family: 'Open Sans';
}

