.navbar-custom {
  @extend .navbar-default;
  background-color: $action-bar-color;
  border:0;

  .navbar-brand {
    color:white;
  }

  .navbar-toggle {
    border:0;
    &:focus, &:hover {
      border:0;
      background-color: $action-bar-color;
    }
    &:not(.collapsed) {
      background-color:$action-bar-color;
      .icon-bar {
        &:nth-child(1) {
          @include single-transition(transform, 0.5s);
          @include simple-transform(1, -45deg, 1px);
        }
        &:nth-child(2) {
          @include single-transition(transform, 0.5s);
          @include simple-transform(1, 0deg, 6px);
        }
        &:nth-child(3) {
          @include single-transition(transform, 0.5s);
          @include simple-transform(1, 45deg, 1px);
        }
      }
    }
    .icon-bar {
      @include single-transition(transform, 0.5s);
      background-color: white;
    }
  }
}
