.side-menu {
  background:$main-background-color;
	position: fixed;
  width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
  left: -240px;

  &.side-menu-open {
    left: 0px;
  }

  h3 {
  	color: #ffffff;
  	font-size: 1.87em;
  	padding: 11px;
  	margin: 0;
  	font-weight: 300;
    background: lighten($action-bar-color, 20%);
    text-align: center;
  }

  a {
  	display: block;
  	color: black;
  	font-size: 1.1em;
  	font-weight: 300;
    padding: 1em;

    &:active {
      background: #afdefa;
      color: #47a3da;
    }
  }
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
