$main-color: #4284a1;
$main-border-color: #d7d7d7;
$main-background-color: white;
$action-bar-color: #343b4a;
$danger-color: #ff3366;
$success-color: #50d3c2;
$primary-color: #0986d3;


$grid-height: (
  '100': 100,
  '200': 200,
  '300': 300
)
