<div class="card-grid"  ng-swipe-left="previous()" ng-swipe-right="next()">
    <h1>< Cards ></h1>
      <div class="deck active">
          <div class="card">1</div>
          <div class="card">2</div>
          <div class="card">4</div>
          <div class="card">8</div>
          <div class="card">16</div>
          <div class="card">32</div>
          <div class="card">64</div>
          <div class="card">128</div>
      </div>

      <div class="deck">
          <div class="card">1</div>
          <div class="card">66</div>
          <div class="card">66</div>
          <div class="card">66</div>
          <div class="card">66</div>
          <div class="card">66</div>
          <div class="card">64</div>
          <div class="card">128</div>
      </div>
</div>
